[Unit]
Description=starts browser client GUI
After=default.target

[Service]
Type=exec
Restart=no
ExecStart=/home/pi/Desktop/SD_Git/ControlCode/bash_scripts/linked_service_scripts/user/service_browser-preload.sh
Environment=DISPLAY=:0

[Install]
WantedBy=default.target