[Unit]
Description=starts browser client GUI
After=default.target

[Service]
Type=exec
Restart=no
ExecStart=/home/pi/Desktop/SD_Git/ControlCode/Service_Files/user/sd_browser-preload.service
Environment=DISPLAY=:0

[Install]
WantedBy=default.target