[Unit]
Description=Automatically start door control code on startup
After=network.target

[Service]
Type=simple
ExecStart=$gitRepoDir/ControlCode/bash_scripts/linked_service_scripts/root/service_door.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target