# Folder Ignores Keyword
*-ignore/

# Python virutal environment
venv/

# Python binarys
**/__pycache__/

# Archives
*.zip
*.Zip

# Altium Outputs


# Windows default autosave extension
*.asv

Spot-API/battery_status.py
Spot-API/bosdyn-client/

ControlCode_old/