# Folder Ignores Keyword
*-ignore/

# Archives
*.zip
*.Zip

# Altium Outputs
Project Outputs for Temperature_Sensor/

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
Spot-API/battery_status.py
Spot-API/bosdyn-client/LICENSE
Spot-API/bosdyn-client/README.md
Spot-API/bosdyn-client/setup.cfg
Spot-API/bosdyn-client/setup.py
Spot-API/bosdyn-client/src/bosdyn/__init__.py
Spot-API/bosdyn-client/src/bosdyn/client/__init__.py
Spot-API/bosdyn-client/src/bosdyn/client/__main__.py
Spot-API/bosdyn-client/src/bosdyn/client/area_callback_region_handler_base.py
Spot-API/bosdyn-client/src/bosdyn/client/area_callback_service_runner.py
Spot-API/bosdyn-client/src/bosdyn/client/area_callback_service_servicer.py
Spot-API/bosdyn-client/src/bosdyn/client/area_callback_service_utils.py
Spot-API/bosdyn-client/src/bosdyn/client/area_callback.py
Spot-API/bosdyn-client/src/bosdyn/client/arm_surface_contact.py
Spot-API/bosdyn-client/src/bosdyn/client/async_tasks.py
Spot-API/bosdyn-client/src/bosdyn/client/auth.py
Spot-API/bosdyn-client/src/bosdyn/client/auto_return.py
Spot-API/bosdyn-client/src/bosdyn/client/autowalk.py
Spot-API/bosdyn-client/src/bosdyn/client/bddf_download.py
Spot-API/bosdyn-client/src/bosdyn/client/bddf.py
Spot-API/bosdyn-client/src/bosdyn/client/channel.py
Spot-API/bosdyn-client/src/bosdyn/client/command_line.py
Spot-API/bosdyn-client/src/bosdyn/client/common.py
Spot-API/bosdyn-client/src/bosdyn/client/data_acquisition_helpers.py
Spot-API/bosdyn-client/src/bosdyn/client/data_acquisition_plugin_service.py
Spot-API/bosdyn-client/src/bosdyn/client/data_acquisition_plugin.py
Spot-API/bosdyn-client/src/bosdyn/client/data_acquisition_store.py
Spot-API/bosdyn-client/src/bosdyn/client/data_acquisition.py
Spot-API/bosdyn-client/src/bosdyn/client/data_buffer.py
Spot-API/bosdyn-client/src/bosdyn/client/data_chunk.py
Spot-API/bosdyn-client/src/bosdyn/client/data_service.py
Spot-API/bosdyn-client/src/bosdyn/client/directory_registration.py
Spot-API/bosdyn-client/src/bosdyn/client/directory.py
Spot-API/bosdyn-client/src/bosdyn/client/docking.py
Spot-API/bosdyn-client/src/bosdyn/client/door.py
Spot-API/bosdyn-client/src/bosdyn/client/estop.py
Spot-API/bosdyn-client/src/bosdyn/client/exceptions.py
Spot-API/bosdyn-client/src/bosdyn/client/fault.py
Spot-API/bosdyn-client/src/bosdyn/client/frame_helpers.py
Spot-API/bosdyn-client/src/bosdyn/client/graph_nav.py
Spot-API/bosdyn-client/src/bosdyn/client/gripper_camera_param.py
Spot-API/bosdyn-client/src/bosdyn/client/image_service_helpers.py
Spot-API/bosdyn-client/src/bosdyn/client/image.py
Spot-API/bosdyn-client/src/bosdyn/client/inverse_kinematics.py
Spot-API/bosdyn-client/src/bosdyn/client/ir_enable_disable.py
Spot-API/bosdyn-client/src/bosdyn/client/keepalive.py
Spot-API/bosdyn-client/src/bosdyn/client/lease_resource_hierarchy.py
Spot-API/bosdyn-client/src/bosdyn/client/lease_validator.py
Spot-API/bosdyn-client/src/bosdyn/client/lease.py
Spot-API/bosdyn-client/src/bosdyn/client/license.py
Spot-API/bosdyn-client/src/bosdyn/client/local_grid.py
Spot-API/bosdyn-client/src/bosdyn/client/log_annotation.py
Spot-API/bosdyn-client/src/bosdyn/client/log_status.py
Spot-API/bosdyn-client/src/bosdyn/client/manipulation_api_client.py
Spot-API/bosdyn-client/src/bosdyn/client/map_processing.py
Spot-API/bosdyn-client/src/bosdyn/client/math_helpers.py
Spot-API/bosdyn-client/src/bosdyn/client/network_compute_bridge_client.py
Spot-API/bosdyn-client/src/bosdyn/client/payload_registration.py
Spot-API/bosdyn-client/src/bosdyn/client/payload.py
Spot-API/bosdyn-client/src/bosdyn/client/point_cloud.py
Spot-API/bosdyn-client/src/bosdyn/client/power.py
Spot-API/bosdyn-client/src/bosdyn/client/processors.py
Spot-API/bosdyn-client/src/bosdyn/client/ray_cast.py
Spot-API/bosdyn-client/src/bosdyn/client/README.md
Spot-API/bosdyn-client/src/bosdyn/client/recording.py
Spot-API/bosdyn-client/src/bosdyn/client/robot_command.py
Spot-API/bosdyn-client/src/bosdyn/client/robot_id.py
Spot-API/bosdyn-client/src/bosdyn/client/robot_state.py
Spot-API/bosdyn-client/src/bosdyn/client/robot.py
Spot-API/bosdyn-client/src/bosdyn/client/sdk.py
Spot-API/bosdyn-client/src/bosdyn/client/server_util.py
Spot-API/bosdyn-client/src/bosdyn/client/service_customization_helpers.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_check.py
Spot-API/bosdyn-client/src/bosdyn/client/time_sync.py
Spot-API/bosdyn-client/src/bosdyn/client/token_cache.py
Spot-API/bosdyn-client/src/bosdyn/client/token_manager.py
Spot-API/bosdyn-client/src/bosdyn/client/util.py
Spot-API/bosdyn-client/src/bosdyn/client/world_object.py
Spot-API/bosdyn-client/src/bosdyn/client/resources/__init__.py
Spot-API/bosdyn-client/src/bosdyn/client/resources/robot.pem
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/__init__.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/audio.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/compositor.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/health.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/lighting.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/lights_helper.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/media_log.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/network.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/power.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/ptz.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/README.md
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/streamquality.py
Spot-API/bosdyn-client/src/bosdyn/client/spot_cam/version.py
Spot-API/bosdyn-client/tests/__init__.py
Spot-API/bosdyn-client/tests/cycle_estop.py
Spot-API/bosdyn-client/tests/cycle_power.py
Spot-API/bosdyn-client/tests/helpers.py
Spot-API/bosdyn-client/tests/test_area_callback_service.py
Spot-API/bosdyn-client/tests/test_arm_surface_contact.py
Spot-API/bosdyn-client/tests/test_auth_client.py
Spot-API/bosdyn-client/tests/test_auto_return_client.py
Spot-API/bosdyn-client/tests/test_base_client.py
Spot-API/bosdyn-client/tests/test_bddf.py
Spot-API/bosdyn-client/tests/test_cmdline.py
Spot-API/bosdyn-client/tests/test_data_buffer.py
Spot-API/bosdyn-client/tests/test_data_chunk.py
Spot-API/bosdyn-client/tests/test_directory_registration.py
Spot-API/bosdyn-client/tests/test_directory.py
Spot-API/bosdyn-client/tests/test_estop.py
Spot-API/bosdyn-client/tests/test_fault.py
Spot-API/bosdyn-client/tests/test_frame_helpers.py
Spot-API/bosdyn-client/tests/test_graph_nav_client.py
Spot-API/bosdyn-client/tests/test_image_service_helpers.py
Spot-API/bosdyn-client/tests/test_image.py
Spot-API/bosdyn-client/tests/test_keepalive.py
Spot-API/bosdyn-client/tests/test_lease_processor.py
Spot-API/bosdyn-client/tests/test_lease_validator.py
Spot-API/bosdyn-client/tests/test_lease.py
Spot-API/bosdyn-client/tests/test_log_annotation.py
Spot-API/bosdyn-client/tests/test_map_processing_client.py
Spot-API/bosdyn-client/tests/test_math_helpers.py
Spot-API/bosdyn-client/tests/test_payload_registration.py
Spot-API/bosdyn-client/tests/test_plugin_service.py
Spot-API/bosdyn-client/tests/test_power.py
Spot-API/bosdyn-client/tests/test_robot_command.py
Spot-API/bosdyn-client/tests/test_robot_id.py
Spot-API/bosdyn-client/tests/test_sdk.py
Spot-API/bosdyn-client/tests/test_service_customization_helpers.py
Spot-API/bosdyn-client/tests/test_spot_cam_audio.py
Spot-API/bosdyn-client/tests/test_spot_cam_compositor.py
Spot-API/bosdyn-client/tests/test_spot_cam_health.py
Spot-API/bosdyn-client/tests/test_spot_cam_lighting.py
Spot-API/bosdyn-client/tests/test_spot_cam_media_log.py
Spot-API/bosdyn-client/tests/test_spot_cam_network.py
Spot-API/bosdyn-client/tests/test_spot_cam_power.py
Spot-API/bosdyn-client/tests/test_spot_cam_ptz.py
Spot-API/bosdyn-client/tests/test_spot_cam_streamquality.py
Spot-API/bosdyn-client/tests/test_spot_cam_version.py
Spot-API/bosdyn-client/tests/test_spot_check.py
Spot-API/bosdyn-client/tests/test_token_cache.py
Spot-API/bosdyn-client/tests/test_token_manager.py
Spot-API/bosdyn-client/tests/test_utils.py
Spot-API/bosdyn-client/tests/util.py
