[Unit]
Description=starts browser client GUI
After=default.target

[Service]
Type=exec
Restart=no
ExecStart=/home/pi/Desktop/SD_Git/Control-Code/Bash_Scripts/service_browser.sh
Environment=DISPLAY=:0

[Install]
WantedBy=default.target