/** Debug Styles **/
#spot * {
    /* border: 1px solid red; */
}

#dockingStation * {
    /* border: 1px solid blue; */
}

#weatherStation * {
    /* border: 1px solid blue; */
}

                                        /** Universal Styles **/
html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0rem;
    text-decoration: underline;
}

.label {
    font-size: 2.5rem;
}

.output {
    /* Positioning */
    display: inline-block;
    margin-left: 1rem;
    text-align: center;

    /* Coloring */
    border: .1rem solid black;
    background-color: whitesmoke;

    /* Sizing */
    min-height: 2rem;
    min-width: 5rem;
}

                                        /** Main Container **/
.container {
    /* Grid Style */
    display: grid;
    margin: auto;
    
    /* dEFINE */
    grid-template-rows: repeat(2, calc(50vh - 0rem));
    grid-template-columns: repeat(2, calc(50vw - 0rem));
    grid-template-areas: "dockingStation spot"
                         "weatherStation camera";
    
    /* Sizing */
    font-size: 2rem;
}

.container section {
    /* Alignment */
    padding: 2rem;
}

/** Sizing for left 2 cells **/
#dockingStation, #weatherStation {
    /* Sizing */
    min-width: 31rem;
}

/** Sizing for right 2 cells **/
#spot, #camera {
    /* Sizing */
    min-width: 24rem;
}

                                        /** Docking Station Section **/
#dockingStation {
    /* Grid Style */
    grid-area: dockingStation;
    display: grid;
    grid-template-rows: 3rem 9rem 5rem 5rem 5rem;

    /* Sizing */
    /* min-width: 31rem; */

    /* Border Style */
    border-right: .1rem solid black;
    border-bottom: .1rem solid black;
    
}

#door {
    /* Grid Style */
    display: flex;
    flex-direction: column;

    /* Positioning */

    /* Grid Content Positioning / Sizing */

    /* Border Style */
}

#internalTemperature, #powerStatus, #chargerStatus {
    display: flex;
    margin: 1rem 0rem;
}

/** door **/
    #door > * {
        /* Grid Style */
        display: flex;
        margin: .5rem 0rem;
        
        /* Grid Content Positioning / Sizing */
        justify-content: center;
        justify-content: space-evenly;
        width: 100%;
        
        /* Border Style */
    }

    /** Button Styling **/
    #doorButtons button {
        /* Grid Style */
        flex-grow: 1;
        margin: 0rem 2rem;

        /* Sizing */
        min-width: 12rem;
        min-height: 4rem;

        /* Styling */
        box-shadow: 0rem .25rem;
        border-radius: 1rem;
        background-color: hsl(0, 0%, 96%);
    }
    #doorButtons button:active {
        /* Positioning */
        position: relative;
        top: .25rem;

        /* Styling */
        box-shadow: 0rem 0rem;
        background-color: hsl(0, 0%, 90%);
    }

/** Internal Temperature **/

/** Power Status **/

/** Charger Status **/

                                        /** Spot Section **/
#spot {
    /* Grid Style */
    grid-area: spot;
    display: grid;
    grid-template-rows: repeat(4, 5rem);

    /* Sizing */
    /* min-width: 24rem; */

    /* Border Style */
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
}
#mission, #task, #battery {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0rem;
    align-content: center;
}
#battery {
    justify-content: center;
}

/** Battery **/
#batteryGraphicBackground {
    /* Grid Style */
    display: inline-grid;
    /* justify-content: start; */

    /* Battery Style */
    background-color: white;
    border: 1;
    min-width: 10rem;
    min-height: 2rem;
    margin: 0rem;
}
#batteryGraphicOutput {
    /* Grid Style */
    display: block;
    width: 10%;

    /* Battery Style */
    background-color: lime;
    min-width: 0%;
    max-width: 100%;
    margin: 0rem;
}
#batteryPercentageOutput {
    display: inline-block;
}

/** Mission Status **/


/** Task Status **/

                                        /** Weather Station Section **/
#weatherStation {
    /* Grid Style */
    grid-area: weatherStation;
    display: grid;
    grid-template-rows: repeat(5, 5rem);

    /* Border Style */
    border-top: .1rem solid black;
    border-right: .1rem solid black;
}

#externalTemperature, #windSpeed, #precipitation, #extra {
    display: flex;
    margin: 1rem 0rem;
    align-content: center;
}

/** External Temperature **/

/** Wind Speed **/

/** Precipitation **/

/** Weather Output 4 **/

                                        /** Camera Section **/
#camera {
    /* Grid Style */
    grid-area: camera;
    display: grid;
    grid-template-rows: 3rem 20rem;
    row-gap: 1rem;
    /* grid-template-rows: 1fr auto; */
    
    /* Border Style */
    border-top: .1rem solid black;
    border-left: .1rem solid black;
}

#cameraArea {
    /* Grid Style */

    /* Positioning */

    /* Grid Content Positioning / Sizing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* Border Style */
}
#cameraArea > * {
    /* Grid Style */
    display: flex;
    margin: .5rem 0rem;
    
    /* Grid Content Positioning / Sizing */
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    
    /* Border Style */
}

/** textField **/
#textField {
    flex-grow: 1;
    width: 90%;
}

/** submitButton **/
#submitButton {
    /* Grid Style */
    /* flex-grow: 1;
    margin: 0rem 2rem; */

    /* Sizing */
    width: 10rem;

    /* Styling */
    box-shadow: 0rem .25rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 96%);
}

#cameraArea input[type*=submit]:active {

    /* Styling */
    box-shadow: 0rem 0rem;
    background-color: hsl(0, 0%, 90%);
}

/** Media Queries to change layout when screen size gets too small **/
@media screen and (max-width: 739px) {
    .container {
        /* Grid Style */
        display: grid;
        margin: auto;
        
        /* Adjust the margin based on the viewport width */
        /* grid-template-rows: repeat(2, calc(50vh - 0rem));
        grid-template-columns: repeat(2, calc(50vw - 2rem)); */
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "dockingStation"
                             "spot"
                             "weatherStation"
                             "camera";
        
        /* Sizing */
        font-size: 2rem;
    }
}

@media screen and (max-height: 620px) and (min-width: 740px) {
    .container {
        /* Grid Style */
        display: grid;
        margin: auto;
        
        /* Adjust the margin based on the viewport width */
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, calc(50vw - 0rem));
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas: "dockingStation spot"
                             "weatherStation camera";
        
        /* Sizing */
        font-size: 2rem;
    }
}