                                        /** Debug Styles **/
#spot * {
    /* border: 1px solid red; */
}

#dockingStation * {
    /* border: 1px solid blue; */
}

#weatherStation * {
    /* border: 1px solid blue; */
}

                                        /** Universal Styles **/
html {
    font-size: 10px;
}

h1 {
    text-align: center;
    margin: 0rem;
    text-decoration: underline;
}

.label {
    font-size: 2.5rem;
}

.output {
    /* Positioning */
    display: inline-block;
    margin-left: 1rem;
    /* position: relative; */
    /* top: .5rem; */

    /* Coloring */
    border: .1rem solid black;
    background-color: whitesmoke;

    /* Sizing */
    min-height: 2rem;
    min-width: 5rem;
}

                                        /** Main Container **/
.container {
    /* Grid Style */
    display: grid;
    margin: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "dockingStation spot"
                         "weatherStation weatherStation";
    
    /* Sizing */
    font-size: 2rem;
}

.container section {
    /* Alignment */
    padding: 2rem;
}

                                        /** Docking Station Section **/
#dockingStation {
    /* Grid Style */
    grid-area: dockingStation;
    display: grid;
    grid-template-rows: 5rem 9rem 5rem 5rem 5rem;

    /* Border Style */
    border-right: .1rem solid black;
    border-bottom: .1rem solid black;
    
}
#door {
    /* Grid Style */
    display: grid;
    position: relative;
    bottom: 1rem;
    margin: 1rem 0rem;
    justify-content: center;
    align-content: center;
}
#internalTemperature, #powerStatus, #chargerStatus {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    margin: 1rem 0rem;
}

/** door **/
    /** Sub-Containers **/
    #door .label {text-align: center;}
    #doorButtons {
        display: flex;
        justify-content: center;
    }

    /** Button Styling **/
    #doorButtons button {
        /* Sizing */
        margin: 0rem 1rem;
        min-width: 20rem;
        min-height: 5rem;

        /* Styling */
        box-shadow: 0rem .25rem;
        border-radius: 1rem;
        background-color: hsl(0, 0%, 96%);
    }
    #doorButtons button:active {
        /* Positioning */
        position: relative;
        top: .25rem;

        /* Styling */
        box-shadow: 0rem 0rem;
        background-color: hsl(0, 0%, 90%);
    }

/** Internal Temperature **/

/** Power Status **/

/** Charger Status **/

                                        /** Spot Section **/
#spot {
    /* Grid Style */
    grid-area: spot;
    display: grid;
    grid-template-rows: repeat(4, 5rem);

    /* Border Style */
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
}
#mission, #task, #battery {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0rem;
    align-content: center;
}
#battery {
    justify-content: center;
}

/** Battery **/
#batteryGraphicOutput {
    /* Grid Style */
    display: inline-block;

    /* Battery Style */
    background-color: lime;
    border: 1;
    min-width: 6rem;
    min-height: 2rem;
    margin: 0rem;
}
#batteryPercentageOutput {
    display: inline-block;
}

/** Mission Status **/


/** Task Status **/

                                        /** Weather Station Section **/
#weatherStation {
    /* Grid Style */
    grid-area: weatherStation;
    display: grid;
    grid-template-rows: repeat(5, 5rem);

    /* Border Style */
    border-top: .1rem solid black;
}
#externalTemperature, #windSpeed, #precipitation, #extra {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0rem;
    align-content: center;
}

/** External Temperature **/

/** Wind Speed **/

/** Precipitation **/

/** Weather Output 4 **/
